:root {
  --fontSize: 1rem;
  --spacing: 1rem;
  --fontColor: #fff;
  --backgroundColor: #827373;
  --backgroundColorSemi: color-mod(var(--backgroundColor) alpha(50%));
  --selectionBackground: #142537;
  --primaryColor: #3273dc;
  --primaryColorSemi: color-mod(var(--primaryColor) alpha(25%));
  --dangerColor: #ff3860;
  --dangerColorSemi: color-mod(var(--dangerColor) alpha(25%));
}

::before,
::after,
* {
  box-sizing: inherit;
}

html {
  background: var(--backgroundColor);
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  align-items: center;
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  font-size: var(--fontSize);
  font-weight: 400;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.background-video {
  transform-style: none;
  z-index: -2;
  position: fixed;
  left: 41.5%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 58.5%;
  background: #000;
  background-image: none;
  transition: transform 0.8s, opacity 0.3s;
  overflow: hidden;
  contain: strict;
}
.background-video video {
  position: absolute;
  top: 50%;
  left: 50%;

  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);

  transition: -webkit-filter 0.8s, filter 0.8s;

  filter: blur(100px);
}

.selection-route:matches(.router-enter-done, .router-enter.router-enter-active, .router-appear)
  ~ .background-video {
  transform: translateX(-141.5%) translateX(100px);
}

.selection-background {
  background: var(--selectionBackground);
  z-index: -1;
  position: fixed;
  left: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%) translateX(-100px);
  transition: transform 0.8s;
}

.product-route:matches(.router-enter-done, .router-enter.router-enter-active, .router-appear)
  ~ .selection-background {
  transform: translateX(100%);
}
.selection-route:matches(.router-enter-done, .router-enter.router-enter-active, .router-appear)
  ~ .selection-background {
  transform: translateX(0);
}
