:root {
  --fontSize: 1rem;
  --spacing: 1rem;
  --fontColor: #fff;
  --backgroundColor: #827373;
  --backgroundColorSemi: color-mod(var(--backgroundColor) alpha(50%));
  --selectionBackground: #142537;
  --primaryColor: #3273dc;
  --primaryColorSemi: color-mod(var(--primaryColor) alpha(25%));
  --dangerColor: #ff3860;
  --dangerColorSemi: color-mod(var(--dangerColor) alpha(25%));
}

::before,
::after,
* {
  box-sizing: inherit;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}

html {
  background: var(--backgroundColor);
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  align-items: center;
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  font-size: var(--fontSize);
  font-weight: 400;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.background-video {
  transform-style: none;
  z-index: -2;
  position: fixed;
  left: 41.5%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 58.5%;
  background: #000;
  background-image: none;
  transition: transform 0.8s, opacity 0.3s;
  overflow: hidden;
  contain: strict;
}
.background-video :matches(video, img) {
  position: absolute;
  top: 50%;
  left: 50%;

  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);

  transition: -webkit-filter 0.8s, filter 0.8s;

  filter: blur(100px);
}

.selection-route:matches(.router-enter-done, .router-enter.router-enter-active, .router-appear)
  ~ .background-video {
  transform: translateX(-141.5%) translateX(100px);
}

.selection-background {
  background: var(--selectionBackground);
  z-index: -1;
  position: fixed;
  left: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%) translateX(-100px);
  transition: transform 0.8s;
}

.product-route:matches(.router-enter-done, .router-enter.router-enter-active, .router-appear)
  ~ .selection-background {
  transform: translateX(100%);
}
.selection-route:matches(.router-enter-done, .router-enter.router-enter-active, .router-appear)
  ~ .selection-background {
  transform: translateX(0);
}

.main-scroller {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
}

.router {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  transition: all 0.8s;
  transform: translateX(0%);
  width: 100vw;
}
.router-enter {
  transform: translateX(-100%);
}
.selection-route.router-enter {
  transform: translateX(100%);
}
.router-enter.router-enter-active {
  transform: translateX(0) !important;
}
.router-exit.router-exit-active {
  transform: translateX(-100%);
}
.selection-route.router-exit.router-exit-active {
  transform: translateX(100%);
}

.router-exit {
  transform: translateX(0);
}
.product-route.router-exit {
  transform: translateX(0%) !important;
}
.product-route.router-exit.router-exit-active {
  transform: translateX(-100%) !important;
}

:first-of-type:not(:last-of-type):matches(.product-route, .index-route):not(.router-exit) {
  transform: translateX(-100%);
}
:first-of-type:not(:last-of-type):matches(.selection-route) {
  transform: translateX(100%);
}
.product-route.router-enter-done,
.product-route.router-enter-active,
.index-route.router-enter-done,
.index-route.router-enter-active,
.selection-route.router-enter-done,
.selection-route.router-enter-active {
  transform: translateX(0);
}

.product-route,
.selection-route {
  z-index: 1;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero .copy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -60%);
}
.hero .copy h5 {
  font-size: 14px;
  font-weight: 500;
}
.hero .copy h1 {
  font-size: calc(100vw / 24.381);
  line-height: normal;
  margin: 20px 0 0;
  max-width: none;
}

.product-background {
  position: relative;
  margin: 0;
  min-height: 100%;
  max-height: 100vh;
  max-width: 1400px;
  width: calc(100% - 200px);
  background-color: #fff;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}
.product-background ul {
  margin: 0;
}
